.auto-complete {
    position: relative;
  }
  
  .menu-drop-down {
    position: absolute;
    left: 0;
    width: 100%;
    max-height: 20em;
    overflow: auto;
    list-style: none;
    padding: 0;
    z-index: 999;
  }
  
  .menu-item {
    background-color: white;
    padding: 8px 16px;
    font-size: 14px;
  }
  
  .menu-item:hover {
    background-color: lightgray;
  }